/vendor
/node_modules
/.env
/.env.backup
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/hot
.git
.gitignore
.editorconfig
README.md
phpunit.xml
.phpunit.result.cache
